DATABASE_URL="postgresql://user:password@localhost:5432/identity_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="hospital-n23dccn092"
JWT_EXPIRES_IN="900"
REFRESH_EXPIRES_IN="604800"
PORT=3001